/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('IT Consultoria em Tecnologia.png') no-repeat center center / cover;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Cabeçalho */
header {
    background: url('logo novo.png') no-repeat center center / cover; /* Caminho correto para a imagem */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    max-width: 300px;
    height: auto;
}

/* Navegação */
nav {
    background-color: #0078d7;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
}

nav a:hover {
    text-decoration: underline;
}

/* Conteúdo Principal */
main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Rodapé */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }
}
