/* Cabeçalho */
header {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 0; /* Remove o padding para ocupar espaço total */
    height: 150px; /* Define a altura do cabeçalho */
}

header img {
    width: 100%; /* Ocupa 100% da largura */
    height: 100%; /* Ocupa 100% da altura */
    object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço */
}

header a.logo-link {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #0078d7;
    text-decoration: none;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a.logo-link:hover {
    background-color: #0078d7;
    color: #fff;
}
